name: 手动构建 YSTRM 镜像到 GHCR

on:
  workflow_dispatch:
    inputs:
      image-tag:
        description: '镜像标签（默认：latest）'
        required: false
        default: 'latest'
      platform:
        description: '构建平台（默认：linux/amd64，可选：linux/amd64,linux/arm64）'
        required: false
        default: 'linux/amd64'

jobs:
  build-and-push-ghcr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: 检查代码
        uses: actions/checkout@v4

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: 登录 GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 提取镜像元数据
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.actor }}/cloudstream
          tags: |
            ${{ github.event.inputs.image-tag }}
            ${{ github.sha }}
          flavor: latest=true

      - name: 构建并推送镜像
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ github.event.inputs.platform }}
          cache-from: type=gha
          cache-to: type=gha,mode=max